<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identify Plants</title>
</head>
<body>
    <h1> Identify the plant in pics</h1>
    <p> File size limit : 5MB</p>
    <form method="post" action="/identifyPlants" enctype="multipart/form-data">
        <label for="img_file"> Select the Plant Image you wish to identify:</label>
      <input type="file" name="img_file" id="img_file" required />
      <br /><br />
      <button type="submit">Submit</button>
    </form>
</body>
</html>