<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo Location Tutorial</title>
</head>
<body>
    <form action="/" method="POST">
        <button id="getLocation" type="submit"> Get Plant Suggestions</button>
    </form>
    <br/><br/>
    <form action="/identifyPlantsRoute" method="POST">
        <button id="identifyPlants" type="submit"> Identify Plants</button>
    </form>
    <br/><br/>
    <form action="/plantTipsRoute" method="POST">
        <button id="PlantsTipRoute" type="submit">Get Gardening Tips from Gemini</button>
    </form>
    <br/><br/>
    <form action="/postRoute" method="POST">
        <button id="postRoute" type="submit">Upload new Post </button>
    </form>
    <br/><br/>
    <form action="/new-userRoute" method="POST">
        <button id="new-userRoute" type="submit">New User-Registration </button>
    </form>
    <br/><br/>
    <form action="/viewPosts" method="POST">
        <button id="new-userRoute" type="submit"> View Posts </button>
    </form>
</body>
</html>