<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gardening Tips from Gemini</title>
</head>
<body>
    <h1>Gardening Tips from Gemini</h1>
    <div><%=prompt%></div><br/>
    
    <img src="<%=fileURL%>" width="250" height="350"/>
    
    <div id="plant-tips"><%-htmlResponse%></div>
    
</body>
</html>
