<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result of Plant Identification</title>
</head>
<body>
    <h1>Result of Plant Identification</h1>
    <div><%=prompt%></div><br/>
    <img src="<%=fileURL%>" width="250" height="350"/>
    <div id="plant-name"><%=response%></div>
    
</body>
</html>
